#content6 {
    padding: 50px 0;
}

#content6 h1 {
    color: black;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#content6 p {
    font-size: 17px;
    font-weight: 400;
    color: black;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#content6 .card {
    border-radius: 20px;
    background-color: #FFF8F3;
}

#content6 .card-title {
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#content6 .card-subtitle {
    font-size: 15px;
    font-weight: 500;
    padding-right: 60px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* CAROUSEL */
.cursor-pointer {
    cursor: pointer;
}

.carousel-main {
    margin-bottom: -100px;
    height: auto;
}

.carousel-content6 .carousel-cell {
    width: 30%;
    height: 350px;
    border-radius: 5px;
    counter-increment: carousel-cell;
    align-items: center;
}

@media (max-width: 767px) {
    .carousel-content6 .carousel-cell {
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .carousel-content6 .carousel-cell {
        width: 50%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .carousel-inner-gallery {
        display: flex;
    }

    .carousel-item-gallery {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }
}

.carousel-inner-gallery {
    padding: 1em;
}

.carousel-inner-gallery img {
    max-height: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.carousel-inner-gallery h5 {
    text-align: center;
    font-size: 1pc;
}

.carousel-content6 .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.carousel-content6 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: none;
}

.carousel-content6 h5 {
    font-size: 0.8pc;
}

.carousel-content6 .card-body {
    padding-top: 15px;
    padding-bottom: 50px;
    overflow: hidden;
    background-color: #04C26D;
}

.pejabat-desa .carousel-main .flickity-page-dots .dot {
    background: white;
}

/* AKHIR CAROUSEL */

@media (max-width: 768px) {

    #content6 h1 {
        font-size: 30px;
        font-weight: 800;
    }

    #content6 p {
        font-size: 15px;
        font-weight: 400;
    }
    
    #content6 .carousel-main{
        margin: 0 10px;
    }

}
